/* CADASTRO */



h2 {
    font-size: 40px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.container_cadastro {
    width: 100%;

    background-color: #01476B;
    /* height: 700px; */

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;
    padding-bottom: 3rem;
}

.container_cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
    max-width: 1440px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}






.box_cadastro {
    /* background-color: aqua; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1440px;

    margin-top: 50px;
    padding: 0 20px;
}



.coluna_cadastro1 {

    width: 45%;

    display: flex;
    flex-direction: column;
}

.svg_file {
    color: #000;
    height: 50px;
}
.coluna_cadastro2 {
    /* background-color: blueviolet; */
    width: 45%;

    display: flex;
    flex-direction: column;
}

.cor {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.preço_img {
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}

.img {
    width: 20%;
}

.img_input {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    /* background-color: blueviolet; */
}

/* svg_file */

.container_imginput{
    background-color: rgb(255, 255, 255);
     width: 100px;
    border-radius: 10px;
    display: flex;
    padding: 5px 12px;
    justify-content: center;
    margin: 1px 10px;
    
    

}


.upload {
    background-color: #F5F5F5;
    border-radius: 10px;
    height: 60px;
    border: solid 1px #000;
}


.upload svg {
    color: #ACACAC;
    width: 35px;
    display: flex;
    justify-self: center;
    padding-top: 10px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}


/*mantem*/
[type="text"] {
    border-radius: 10px;
    height: 60px;
}

textarea {
    resize: none;
    height: 300px;
    border-radius: 15px;
}

input,
textarea {
    font-size: 20px;
    background-color: #F5F5F5;
}
.input,
textarea {
    padding: 20px 15px;
    border: solid 0.5px;
}

input[type="text"]::placeholder,
textarea::placeholder {

    color: #ACACAC;
    font-size: 20px;

}


label,
input[type="button"] {

    font-size: 30px;
    color: white;

}

label {
    margin-top: 25px;
}

.botaoSubmit {

    height: 60px;
    width: 90%;
    max-width: 1400px;

    background-color: #002537;
    border-radius: 10px;
    border: solid 0.5px;
    margin-bottom: 30px;

    cursor: pointer;
    color: #ffffff;
    margin: 3rem 0;
}



/*LISTAGEM*/

h2 {
    justify-self: center;
    color: black;
}

h3 {
    color: black;
}


.container_lista {
    width: 100%;
    text-align: center;
    background: #01476B;
    justify-self: center;
}

.container_lista h2 {
    background-color: #F1F3EF;
    padding: 40px 0;
}

/* CARDS */
.cards {
    padding-top: 100px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
    margin: 0 auto;
}


.card_joia {
    width: 300px;
    height: px;
    background-color: #ffffff;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1px;

    margin-bottom: 90px;
    box-shadow: 0 4px 4px 2px #00000025;
}

p {
    font-family: "Kaisei Tokumin", serif;
    color: black;
}

.card p {

    padding: 20px;

}

.cards svg {
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: black;
    height: 50px;

}


.descrição {
    color: #525252;
}
small{
    display: flex;
    justify-items: center;
    color: black;
}




/* MEDIA */

@media screen and (max-width: 1000px) {

  

    /* CADASTRO MEDIA */

    label {
        font-size: 20px;
    }

     .input::placeholder,
    textarea::placeholder {
        font-size: 15px;
    }

    input,
    textarea {
        font-size: 15px;
    }
}






/* MEDIA */

@media screen and (max-width:770px) {

    /* CADASTRO MEDIAS */
    .seta_cadastro {
        display: block;
        width: 30px;
        cursor: pointer;
        margin-right: 30px;
    }

    .container_cabeçalho img {
        height: 120px;

    }

    

    main {
        justify-items: center;
    }

    h2 {
        font-size: 20px;
    }

    .h3{
        color: black;
    }

    .container_cadastro {
        display: flex;
        justify-content: center;
        height: auto;
    }

    .botaoSubmit{
        margin-top: 2rem;
    }

    .coluna_cadastro1,
    .coluna_cadastro2 {
        width: 100%;
    }

    .box_cadastro {
        width: 98%;
        flex-direction: column;



        padding-top: 30px;
    }

    textarea {
        height: 200px;

    }

    input[type="button"] {
        font-size: 20px;
        margin-top: 60px;

    }

    .container_cadastro {
        border-radius: 30px;
        width: 90%;


    }





    /* CARDS */
    .cards {

        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-wrap: wrap;
        gap: 10%;
        justify-content: center;
        padding: 70px 20px;
    }
}




    
    